<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Cars REST Api</h1><br>
    <h3>By Bartlomiej Stoklosa</h3><br>
    <h2>Endpoints:</h2><br>
    <h2>api/cars</h2>
    <h2>api/rate</h2>
    <h2>api/popular</h2>
</body>
</html>